* {
    margin: 0;
    padding: 0;
}

ul {
    margin-left: 1em;
}

.component {
    width: 60%;
    margin: 0 auto;
}

.header {
    height: 140px;
    background-color: #DDD;
}

.page-header {
    height: 90px;
    background-color: #DDD;
}

.nav {
    height: 40px;
    background-color: #CCC;
}

.nav-item {
    line-height: 40px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-item-middle {
    padding: 0 15px;
    border-left: 1px solid #DDD;
}

.nav-item-left {
    padding-right: 15px;
}

.nav-item-right {
    padding-left: 15px;
    border-left: 1px solid #DDD;
}

footer {}

.footer {
    background-color: #DDD;
    height: 40px;
}

.footer-content {
    line-height: 40px;
    color: #666;
}

.article {
    margin: 20px 0;
    border-radius: 10px;
    padding: 10px 25px;
}

.title {
    margin: 10px 0;
}

.title a {
    cursor: pointer;
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.tags {
    margin: 10px 0;
}

.tags-label {
    font-size: 18px;
    font-weight: bold;
}

.tag {
    font-size: 18px;
    text-decoration: none;
    padding: 5px 14px;
    background-color: #DDD;
    border-radius: 15px;
    margin: 5px;
    display: inline-block;
}


/**
 *  by-tag template
 */

.content-70 {
    float: left;
    width: 69.8%;
}

.right-part-30 {
    float: left;
    width: 30%;
}

.tags-container {
    margin: 25 10;
}


/**
*  article
*/

article {
    margin: 20px 10px;
}

.title {
    margin: 10px 0px;
}

.simple {
    margin: 20px 10px;
    border: 1px solid #EEE;
    padding: 20px;
    border-radius: 10px;
}

.recommend-tag {
    font-size: 22px;
}

.recommend-content {
    margin-top: 10px;
    margin-left: 10px;
}

.recommend-item {
    text-decoration: none;
    color: blue;
    display: block;
    line-height: 140%;
}

p {
    line-height: 150%;
    font-family: 微软雅黑;
}

code {
    padding: 10;
    margin: 1em 2em;
    background-color: #EEE;
    display: block;
    font-size: 15;
    overflow-x: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 黑体;
}

thead tr {
    background-color: #666;
    color: white;
}

tbody>tr:nth-child(odd) {
    background-color: #EEE;
}

tbody>tr:nth-child(even) {
    background-color: #DDD;
}

th, td {
    padding: 7px 15px;
    margin: 0px;
}
