<div class="article">
    <div class="title">
        <a href="{{article.url}}">{{article.title}}</a>
    </div>
    {% if article.tags != '' %}
    <div class="tags">
        <span class="tags-label">tags:</span>
        {% for tag in article.tags %}
            <a href="{{site.url}}/pages/{{tag}}.html" class="tag">{{tag}}</a>
        {% endfor %}
    </div>
    {% endif %}
    <div class="date">
        {{article.date | date: "%Y-%m-%d"}}
    </div>
    <div class="abstract">
        {{article.excerpt}}
    </div>
</div>
