---
layout: menu-article
---
<div class="content-70">
    {% if page.type == 'all' %}
        {% for article in site.posts %}
            {% include article-item.html %}
        {% endfor %}
    {% else %}
        {% for article in site.posts %}
            {% if article.tags contains page.type %}
                {% include article-item.html %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<div class="right-part-30">
    <div class="tags-container">
        {% include tags.html %}
    </div>
</div>
<div style="clear: both"></div>
